<ion-view view-title="{{torrent.name}}">
    <ion-content class="padding">
        <div class="row">
            <div class="col-1" ng-switch on="torrent.category">
                <div ng-switch-when="tv" class="button button-positive">
                    <i class="icon ion-monitor"></i>
                </div>
                <div ng-switch-when="movie" class="button button-calm">
                    <i class="icon ion-ios-videocam"></i>
                </div>
                <div ng-switch-when="book" class="button button-balanced">
                    <i class="icon ion-ios-book"></i>
                </div>
                <div ng-switch-when="music" class="button button-royal">
                    <i class="icon ion-music-note"></i>
                </div>
                <div ng-switch-when="game" class="button button-assertive">
                    <i class="icon ion-ios-game-controller-b"></i>
                </div>
                <div ng-switch-when="app" class="button button-dark">
                    <i class="icon ion-gear-a"></i>
                </div>
                <div ng-switch-when="xxx" class="button button-stable">
                    <i class="icon ion-alert-circled"></i>
                </div>
                <div ng-switch-default class="button button-light">
                    <i class="icon ion-paperclip"></i>
                </div>
            </div>

            <div class="col">{{torrent.name}}</div>
        </div>
        <div class="row">
            <div class="col"><b>Seed:</b></div>
            <div class="col">{{torrent.seed}}</div>
            <div class="col"><b>Leech:</b></div>
            <div class="col">{{torrent.leech}}</div>
        </div>
        <div class="row">
            <div class="col"><b>Size:</b></div>
            <div class="col">{{torrent.size}}</div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><b>Age:</b></div>
            <div class="col">{{torrent.age}}</div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <button class="button button-full button-assertive" ng-click="download(torrent)">
            <i class="icon ion-magnet"></i>
        </button>
    </ion-content>
</ion-view>
