<ion-view view-title="cascade">
    <ion-nav-title>
        <img src="img/logo.png" class="button button-clear"/> cascade
    </ion-nav-title>

    <ion-content>
        <form name="form" ng-submit="search()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" name="search" placeholder="Search" ng-model="query.string" ng-minlength="4"
                       required/>
            </label>
        </form>

        <ion-list>
            <ion-item class="item" ng-repeat="torrent in torrents"
                      href="#/torrents/{{torrent.id}}">
                <div class="row">
                    <category-icon category="torrent.category"></category-icon>

                    <div class="col">
                        <h2>{{torrent.name}}</h2>

                        <p>{{torrent.seed}} | {{torrent.leech}} | {{torrent.size}} | {{torrent.age}}</p>
                    </div>
                </div>

                <ion-option-button class="button-assertive" ng-click="download(torrent)">
                    <i class="icon ion-magnet"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
