<ion-view>

    <ion-nav-bar class="bar-{{torrent.color}}">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-title>
        <i class="ion button-icon ion-{{torrent.icon}}"></i>{{torrent.category}}
    </ion-nav-title>

    <ion-content>
        <div class="list card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col-1">
                        <div class="button button-round button-{{torrent.color}}">
                            <i class="ion ion-{{torrent.icon}}"></i>
                        </div>
                    </div>
                    <div class="col"><h2>{{torrent.name}}</h2></div>
                </div>
            </div>

            <div class="item item-divider">
                <div class="row  h4">
                    <div class="col">
                        <b>Seeds</b>

                        <div>{{torrent.seed}}</div>
                    </div>

                    <div class="col">
                        <b>Leeches</b>

                        <div>{{torrent.leech}}</div>
                    </div>
                </div>
            </div>

            <div class="item item-body">
                <div class="row ">
                    <div class="col">
                        <b>Size</b>

                        <div>{{torrent.size}}</div>
                    </div>

                    <div class="col">
                        <b>Age</b>

                        <div>{{torrent.age}}</div>
                    </div>
                </div>
                <br/>

                <!--div class="row">
                    <div class="col">
                        <a href="#" class="subdued">
                            <i class="icon ion-information-circled"></i>
                            Open in IMDB
                        </a>
                    </div>
                </div-->
            </div>

            <a class="item item-icon-left assertive" href="#" ng-click="download(torrent)">
                <i class="icon ion-magnet"></i>
                Get magnet
            </a>
        </div>

    </ion-content>
</ion-view>
