<ion-view>
    <ion-nav-title>
        <img src="img/logo.png" class="button button-clear"/> magnetizr
    </ion-nav-title>

    <ion-content>
        <ion-list>
            <div class="item item-icon-right no-padding">
                <form name="form" ng-submit="search()">
                    <label class="item-input">
                        <i class="ion ion-search placeholder-icon"></i>
                        <input type="text" id="search" name="search" placeholder="{{'Search' | translate}}"
                               ng-model="query.string" ng-submit="search()" focus-on="search"
                               ng-focus="clearResults()"/>
                    </label>
                </form>
                <i class="icon ion-android-close" ng-click="clearSearch()" ng-show="query.string"></i>
            </div>

            <div class="message padding text-center" ng-show="message">
                <div class="row">
                    <div class="col">
                        <i class="ion ion-android-alert"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>{{message}}</h3>
                    </div>
                </div>
            </div>

            <ion-item class="item" ng-repeat="torrent in torrents"
                      href="#/torrents/{{torrent.id}}">
                <div class="row">
                    <div class="col1">
                        <div class="button button-round button-{{torrent.color}}">
                            <i class="ion ion-{{torrent.icon}}"></i>
                        </div>
                    </div>

                    <div class="col">
                        <h2>{{torrent.name}}</h2>

                        <p>
                            <i class="ion ion-android-arrow-dropup-circle"></i> {{torrent.seed}}{{torrent.seedUnits}}&nbsp;
                            <i class="ion ion-android-arrow-dropdown-circle"></i>&nbsp;
                            {{torrent.leech}}{{torrent.leechUnits}}&nbsp;
                            <i class="ion ion-document"></i> {{torrent.size}} {{torrent.sizeUnits}}&nbsp;
                            <i class="ion ion-calendar"></i> {{torrent.age}} {{torrent.ageUnits | translate}}
                        </p>
                    </div>
                </div>

                <ion-option-button class="button-assertive" ng-click="get(torrent)">
                    <i class="icon ion-magnet"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
